.background {
    background-image: url(./pexels-tirachard-kumtanom-733857.jpg);
    height: 760px;
}

.egbe{
    /* margin-top: 200px; */
    padding-top: 20px;
    font-size: 90px;
    color: chartreuse;
    text-align: center;
}
.zero{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color:rgb(196, 160, 84);
}
.total{
    color: white;
    font-size: 40px;
    margin-left: 200px;
    margin-bottom: 20px;
}
.group{
    color: white;
    font-size: 30px;
    margin-left: 200px;
    margin-bottom: 25px;
    display: block;
}
.index{
    font-size: 15px;
}

.input-big{
    width: 907px;
    height: 60px;
    border-radius: 5px;
    
}
input{
    width: 900px;
    height: 40px;
    border-radius: 10px;
}
.name{
    color: white;
    margin-left: 200px;
    margin-bottom: 25px;
    display: block;
}
.choose{
    color: white;
    margin-left: 200px;
    margin-bottom: 25px;
    display: block;

}
.tier{
    width: 907px;
    height: 50px;
    border-radius: 10px;
}
.amount{
    color: white;
    margin-left: 200px;
    margin-bottom: 25px;
    display: block;
}
.join{
    color: black;
    margin-left: 400px;
    margin-bottom: 25px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(196, 160, 84)
}



