.background {
    background-image: url(./pexels-tirachard-kumtanom-733857.jpg);
    height: 760px;
}

.egbe{
    /* margin-top: 200px; */
    padding-top: 20px;
    font-size: 90px;
    color: chartreuse;
    text-align: center;
}
.total{
    color: white;
    font-size: 50px;
    margin-left: 200px;
    margin-bottom: 20px;
}
.group{
    color: white;
    font-size: 30px;
    margin-left: 200px;
    margin-bottom: 50px;
}
.index{
    font-size: 15px;
}

.input-big{
    width: 900px;
    height: 60px;
    border-radius: 5px;
    
}



